extends layout

block content

	nav.navbar.navbar-light.bg-light.fixed-top
		span.navbar-brand= chatRoomName
		span.nav-item.dropdown
			a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") All Users
			.dropdown-menu(aria-labelledby="navbarDropdown")
				each user in allUsers
					span.dropdown-item= user
		span.nav-item.dropdown
			a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Files
			.dropdown-menu(aria-labelledby="navbarDropdown")
				button.dropdown-item(type="button" data-toggle="modal" data-target="#myModal") Upload
				.dropdown-divider
				each file in allFiles
					a.dropdown-item(href="/chatRoom/download/fileName/"+file.fileName+"/originalName/"+file.originalName)= file.originalName
				
		form.form-inline.my-2.my-lg-0(action='/chatRoom/addUser' method='POST')
			input.form-control.mr-sm-2(type='text' name='email' placeholder='Add User (E-mail)')
			input(type = 'hidden' name='chatRoomID' value=chatRoomID)
			input.btn.btn-outline-success.my-2.my-sm-0(type='submit' value='Add')

	#myModal.modal.fade(role="dialog")
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title Upload File
					button(type="button" class="close" data-dismiss="modal") &times;
				.modal-body
					form(action='chatRoom/upload' method='POST' enctype="multipart/form-data")
						input(name="dat" type="file")
						input(type='hidden' name='chatRoomID' value=chatRoomID)
						input(type='submit' class="btn btn-primary" value='Upload')
				//- .modal-footer
				//- 	button(type="button" class="btn btn-default" data-dismiss="modal") close

	ul#messages
		each sporocilo in allMessages
			li= sporocilo.name + " : " + sporocilo.msg_content

	#top

	form#chat(action='#' method='post')
		input#m(autocomplete='off' name='sporocilo' placeholder='Type in..')
		input#name(type = 'hidden' value=user.name)
		input#g_id(type = 'hidden' value=user.g_id)
		input#chatRoomID(type = 'hidden' value=chatRoomID)
		input#send(type='submit' value='send')