extends layout

block content
  h1 name : #{user.name}
  h1 Google id : #{user.g_id}
  h1 email : #{user.email}

  ul#messages
    each sporocilo in allMessages
      li= sporocilo.name + " : " + sporocilo.msg_content

  form(action='#' method='post')
    input#m(autocomplete='off' name='sporocilo')
    input#name(type = 'hidden' value=user.name)
    input#g_id(type = 'hidden' value=user.g_id)
    input#send(type='submit' value='send')  
      
